<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Place</title>
</head>
<body>
    <h1>Welcome to Your Place!</h1>

    <form action="/order">
        <input type="submit" value="New order" />
    </form>

    <img src="/static/img/coffee_drinks.jpg" alt="Coffee drinks" width="80%">
    <p>Image by <a href="https://www.freepik.com/free-vector/colorful-coffee-cup-setflat-style_1544839.html">Freepik</a></p>
</body>
</html>